<div class="main_content">
	<h2>Nouvel ingrédient créé</h2>
	<span>Nom : <%= @ingredient.name %></span>
	<span>Prix : <%= @ingredient.priceUnit %></span>
	<li><%= link_to 'Ajout d\'un nouvel ingredient', ingredients_path() %></li>
</div>
