<div class="main_content">
	<h2>Liste des ingrédients :</h2>
	<% @ingredients.each do |i| %>
		<ul>
			<li><% i.name %></li>
			<li><% i.priceUnit %></li>
		</ul>
	<% end %>
	<%= link_to 'Nouvel ingredient', new_ingredient_url()  %>
</div>