<header class="header">
	<div class="header_content">
		<div class="button_menu">
			<%= image_tag("menu.png", :alt => "rss feed") %>
		</div>
		<h1 class="title_header">Confi Cool Store </h1>
		<div class="layer_account">
			<h2 class="button_account">Mon compte</h2>

			<div class="invisible_layout">
				<div class="content_account">
					<form method="post" action="/POST/">
						<h2 class="subtitle">Se connecter</h2>
						<label for="mail">EMAIL</label>
						<input type="text" name="mail" />

						<label for="password">MOT DE PASSE</label>
						<input type="password" name="password" />

						<input type="submit" name="envoi" value="Valider" />
					</form>
					<h2 class="subtitle subscribe_button">Inscription</h2>
				</div>

 				<div class='content_subscribe'>
					<form>
						<h2 class="subtitle">S'inscrire</h2>
						<label for="prenom">PRÉNOM</label>
						<input type="text" name="prenom" />

						<label for="nom">NOM</label>
						<input type="text" name="nom"/>

						<label for="password" name="password">MOT DE PASSE</label>
						<input type="password" name="password" />

						<label for="password" name="password">CONFIRMATION MOT DE PASSE</label>
						<input type="password" name="password2" />

						<label for="password">EMAIL</label>
						<input type="text" name="mail" />
						<input type="submit" name="envoi" value="Valider" />
					</form>
					<h2 class="subtitle account_button">Connexion / Retour</h2>
				</div>
			</div>
		</div>
	</div>
</header>
<div class="main_content">

</div>
