<div class="main_content">
	<ul class="liste_produits">
		<% @products.each do |f| %>
			<li class="item_list">
				<%= image_tag("confiture-babane.jpg", :alt => "Pot de banane") %>
				<p><%= f.name %></p>
				<p><%= f.description %></p>
				<p><%= f.price %> €</p>
			</li>
		<% end %>
	</ul>
</div>
