<head>


</head>
<header class="header">
	<div class="header_content">
		<h1 class="title_header">ConfiCool</h1>
		<div class="layer_account">
			<h2 class="button_account">Mon compte</h2>

			<div class="content_invisible_layout">
				<h2 class="subtitle">Connexion</h2>
				

			</div>
		</div>
	</div>


</header>
