/* line 3, style.scss */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'helvetica';
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

/* line 14, style.scss */
body {
  background-color: #67C2D4;
}

/* line 17, style.scss */
.header {
  width: 100%;
  height: 50px;
  background: #FEF0E3;
}
/* line 21, style.scss */
.header .header_content {
  width: 100%;
  margin: 0 auto;
  height: auto;
}
/* line 25, style.scss */
.header .header_content .button_menu {
  float: left;
  width: 50px;
  cursor: pointer;
}
/* line 29, style.scss */
.header .header_content .button_menu img {
  width: 100%;
  height: 100%;
}
/* line 34, style.scss */
.header .header_content .title_header {
  font-size: 1.8em;
  color: #B7B6B4;
  float: left;
}
/* line 39, style.scss */
.header .header_content .layer_account {
  width: 20%;
  position: absolute;
  top: 0;
  right: 0;
}
/* line 44, style.scss */
.header .header_content .layer_account .button_account {
  color: #fff;
  background: #E85657;
  font-size: 1.5em;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}
/* line 51, style.scss */
.header .header_content .layer_account .button_account:hover {
  background: #cc4c4d;
}
/* line 55, style.scss */
.header .header_content .layer_account .invisible_layout {
  display: none;
  width: 100%;
  height: 320px;
  overflow: hidden;
  position: relative;
  top: 100%;
  background: #FEF0E3;
  color: #DDC8B5;
}
/* line 64, style.scss */
.header .header_content .layer_account .invisible_layout .content_account, .header .header_content .layer_account .invisible_layout .content_subscribe {
  width: 80%;
  display: none;
  margin: 0 auto;
  position: relative;
  padding: 3% 6% 20% 1%;
}
/* line 70, style.scss */
.header .header_content .layer_account .invisible_layout .content_account .subtitle, .header .header_content .layer_account .invisible_layout .content_subscribe .subtitle {
  font-size: 1.5em;
  color: #E65753;
}
/* line 75, style.scss */
.header .header_content .layer_account .invisible_layout .content_account .subscribe_button, .header .header_content .layer_account .invisible_layout .content_account .account_button, .header .header_content .layer_account .invisible_layout .content_subscribe .subscribe_button, .header .header_content .layer_account .invisible_layout .content_subscribe .account_button {
  cursor: pointer;
  margin-top: 4%;
  font-size: 1em;
  text-decoration: underline;
}
/* line 80, style.scss */
.header .header_content .layer_account .invisible_layout .content_account .subscribe_button:hover, .header .header_content .layer_account .invisible_layout .content_account .account_button:hover, .header .header_content .layer_account .invisible_layout .content_subscribe .subscribe_button:hover, .header .header_content .layer_account .invisible_layout .content_subscribe .account_button:hover {
  color: #E75854;
}
/* line 84, style.scss */
.header .header_content .layer_account .invisible_layout .content_account label, .header .header_content .layer_account .invisible_layout .content_subscribe label {
  margin-top: 11%;
  font-size: 0.8em;
}
/* line 88, style.scss */
.header .header_content .layer_account .invisible_layout .content_account label, .header .header_content .layer_account .invisible_layout .content_account input, .header .header_content .layer_account .invisible_layout .content_subscribe label, .header .header_content .layer_account .invisible_layout .content_subscribe input {
  display: block;
  color: #D5BBA4;
}
/* line 93, style.scss */
.header .header_content .layer_account .invisible_layout .content_account input, .header .header_content .layer_account .invisible_layout .content_subscribe input {
  width: 100%;
  border: 2px solid #D5BBA4;
  font-size: 1.5em;
  background: #FEF0E3;
  padding: 2%;
  outline: none;
}
/* line 100, style.scss */
.header .header_content .layer_account .invisible_layout .content_account input:focus, .header .header_content .layer_account .invisible_layout .content_subscribe input:focus {
  border: 2px solid #E75854;
  color: #E75854;
}
/* line 106, style.scss */
.header .header_content .layer_account .invisible_layout .content_account .submit_button, .header .header_content .layer_account .invisible_layout .content_subscribe .submit_button {
  color: #fff;
  background: #E75854;
  text-align: center;
  border: #E75854;
  width: 100%;
  border: 2px solid #E75854;
  font-size: 1.5em;
  padding: 2%;
  margin-top: 12%;
  cursor: pointer;
}
/* line 117, style.scss */
.header .header_content .layer_account .invisible_layout .content_account .submit_button a:hover, .header .header_content .layer_account .invisible_layout .content_subscribe .submit_button a:hover {
  background: #E85657;
}
/* line 123, style.scss */
.header .header_content .layer_account .invisible_layout .content_account {
  right: 0;
  top: 0;
}

/* line 133, style.scss */
.contentSignIn {
  background: #fff;
}
