//@import "compass/css3";

* {
	margin: 0;
    padding: 0;
    border: 0;
    font-family: 'helvetica';
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}

body {
	background-color: #67C2D4;
}
.header {
	width: 100%;
	height: 50px;
	background: #fff;
	.header_content {
		width: 100%;
		margin: 0 auto;
		height: auto;
		.button_menu {
			float: left;
			width: 50px;
			cursor: pointer;
			img {
				width: 100%;
				height: 100%;
			}
		}
		.title_header {
			font-size: 1.8em;
			color: #B7B6B4;
			float: left;
		}
		.layer_account {
			width: 20%;
			position: absolute;
			top: 0;
			right: 0;
			.button_account {
				color: #fff;
				background: #E85657;
				font-size: 1.5em;
				line-height: 50px;
				text-align: center;
				cursor: pointer;
				&:hover {
					background: #cc4c4d;
				}
			}
			.invisible_layout {
				display: none;
				width: 100%;
				overflow: hidden;
				position: absolute; 
				top: 100%;
				background: #fff;
				color: #DDC8B5;
				.content_account {
				//	@include transition(0.8s);
					width: 80%;
					display: none;
					margin: 0 auto;
					padding: 3% 0 15% 0;
					.subtitle {
						font-size: 1.5em;
						color: #E65753;
					}
					label {
						margin-top: 11%;
						font-size: 0.8em;
					}
					label, input {
						display: block;
						color: #D5BBA4;
					}

					input {
						width: 100%;
						border: 2px solid #D5BBA4;
						font-size: 1.5em;
						padding: 2%;
						outline: none;
						&:focus {
							border: 2px solid #E75854;
							color: #E75854;
						}
					}
				}
			}

		}
	}
}